.Rproj.user
.Rhistory
.RData
*~
*.log
*.html
*.aux
*.pdf
rsconnect
.DS_Store
*.rds
.RUserData
_book
_main*
*.toc
*.out
*.tex
*.gz
*.idv
*.lg
*.tmp
*.xref
*.4ct
*.4tc
*.dvi
*.bbl
*.blg
*.fls
*.fdb_latexmk
.quarto/

/.quarto/
**/*.quarto_ipynb

_bookdown_files
*_cache
*_files

